/* Global app styles for Vampire Survivors game */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0f0f1e;
}

/* Remove default body margins */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scene {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  background-size: auto 100%;
  background-repeat: repeat-x;
}

.character {
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: 150px;
  pointer-events: none;
}
