@font-face {
  font-family: 'Pokemon Classic';
  src: URL('./pokemon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  font-family: 'Pokemon Classic', Arial, sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
